# Graph generation
graph_generation/processed_graph

# Model checkpoints
stepmodel/checkpoints/
stepmodel-new/checkpoints/
stepmodelv2/checkpoints/
stepmodelv3/checkpoints/
stepmodelv4/checkpoints/

# Processed embeddings
stepmodel/embeddings_data/
stepmodel-new/embeddings_data/

# Processed data
stepmodel/processed_data/
stepmodel-new/processed_data/
stepmodelv3/processed_graph/
stepmodelv4/processed_graph/
stepmodelv2/processed_graph/

# input
stepmodelv2/input
stepmodelv3/input
stepmodelv4/input

# Logs
stepmodel/logs/
stepmodel-new/logs/
stepmodel/.dbg/
stepmodel-new/.dbg/
*.log

# PyTorch models
*.pt
*.pth
*.ckpt
*.safetensors

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Debug files
*.ndjson
*.env
